:root {
  --yellow: #ffbc2f;
  --red: #d82727;
  --black: #1b1b1b;
  --titleFont: "Yanone Kaffeesatz", sans-serif;
}

html,
body {
  height: 100%;
  background: #fcf5e6;
}
.body {
  box-sizing: border-box;
  font: 16px / 1.42em "Roboto", Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1300px;
}
.wrapper {
  overflow: hidden;
  min-width: 1440px;
}
.hero {
  background: url(/img/bg/hero.jpg);
}
.header {
  width: 1290px;
  height: 185px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  height: 185px;
  overflow: hidden;
}

.header__content-photo {
  width: 520px;
  position: relative;
}

.header__content-photo img {
  width: 100%;
  position: absolute;
  top: -30px;
}
.header__content-text {
  position: absolute;
  top: 10px;
}
.lined-text {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lined-text--no-indent {
  line-height: 1;
  white-space: nowrap;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}
.lined-text__word--color-yellow {
  color: var(--yellow);
}

.color--yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}
.mail__content {
  background: #212121;
  color: var(--yellow);
  padding: 5px 10px;
}

/* product card */
.product__card {
  display: flex;
  background: #ffc92f;
  margin: 0 auto;
  margin-top: 85px;
  width: 1100px;
  height: 675px;
}
.product__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.products__img {
  display: block;
  max-width: 80%;
  max-height: 100%;
}
.product__info {
  background: #fcf5e6;
  margin: 10px 10px 10px 0;
  width: 550px;
  position: absolute;
  right: 0;
  top: 0;
}
.product__info-main {
  border-bottom: 1px solid #e0d9c8;
  font-family: var(--titleFont);
  padding-left: 30px;
}
.product__main-pretitle {
  font-style: 17px;
  color: var(--yellow);
  margin-top: 20px;
}
.product__main-title {
  line-height: 0;
  font-size: 47px;
  text-transform: uppercase;
}
.product__main-price {
  width: 95px;
  height: 45px;
  font-size: 37px;
  background-color: var(--yellow);
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}
/* start product__info-structure */
.product__info-structure {
  margin-top: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #e0d9c8;
  height: 100%;
}
.product__structure-item {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

/* end product__info-structure */
/* start product__info-sizes */
.product__sizes-size {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0 30px;
}
.product__size-item {
  border: 1px solid #e0d9c8;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 10px;
}

.product__item-text {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.product__size-item--active {
  background-color: var(--yellow);
  /* border: none; */
}
/* end product__info-sizes */
/*start product__colors */
.product__color {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product__color-item {
  width: 20px;
  height: 20px;
}

.product__item--black {
  border: 2px solid #e0d9c8;
  background-color: #2f2c25;
  border-radius: 100px;
}
.product__item--white {
  border: 2px solid #e0d9c8;
  background-color: #fcf5e6;
  border-radius: 100px;
}
.product__item--green {
  border: 2px solid #e0d9c8;
  background-color: #529029;
  border-radius: 100px;
}
.product__item--blue {
  border: 2px solid #e0d9c8;
  background-color: #39498d;
  border-radius: 100px;
}
.product__item--red {
  border: 2px solid #e0d9c8;
  background-color: #d82727;
  border-radius: 100px;
}
.product__color-item--active {
  border: 2px solid #ffc92f;
  border-radius: 100px;
}
.product__color-item:hover {
  border: 2px solid #ffc92f;
  border-radius: 100px;
}
.product__info-btn {
  padding-left: 30px;
  margin-bottom: 15px;
}

.btn {
  text-transform: uppercase;
  font-family: var(--titleFont);
  font-size: 24px;
  padding: 15px 70px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  background: var(--red);
  color: #fff;
}

/*end product__colors */
/* start filter */
.products {
  margin-top: 85px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.filter__item {
  margin-right: 40px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__link {
  font-family: var(--titleFont);
  text-transform: uppercase;
  padding: 3px 20px;
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
.filter__link:hover {
  color: var(--red);
}
.filter__item--active .filter__link {
  color: var(--yellow);
  background: var(--black);
}
/* end filter */
/* start nav__menu */
.nav__menu {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.nav__content-window {
  margin: 0 auto;
  width: 1100px;
  border: 10px solid #ffc92f;
  display: flex;
}
.nav__content-icon {
  width: 340px;
  border-right: 2px solid #e0d9c8;
}
/* start care__icons-item */
.care__icons {
  padding: 20px 20px;
  width: 340px;
}
.care__icons-item {
  display: flex;
  align-items: center;
}
.icons__item {
  width: 27px;
  height: 17px;
  margin-right: 15px;
}
.icons__desc {
  font-size: 15px;
  font-weight: 400;
}
.content__text {
  margin-top: 40px;
  margin-left: 40px;
  font-weight: 400;
}
.sizes {
  width: 100%;
}
.logo__item {
  display: flex;
  width: 340px;
  height: 240px;
  align-items: center;
  justify-content: center;
}
.logo__img {
  width: 300px;
}
/* end care__icons-item */
/* end nav__menu */

/* start footer */
.footer {
  margin-bottom: 115px;
}
.footer__container {
  width: 1105px;
}
.site-menu {
  margin-bottom: 115px;
}

.site-menu__sections {
  display: flex;
  justify-content: space-between;
}
.site-menu__col {
  margin-right: 20px;
}
.site-menu__col:last-child {
  margin-right: 0px;
}
.site-menu__title {
  font-family: var(--titleFont);
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  font-size: 15px;
  text-decoration: none;
}
.site-menu__link:hover {
  color: var(--red);
}

.site-menu__text {
  font-size: 15px;
  color: var(--black);
  margin-bottom: 30px;
}
.site-menu__text-row {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 5px;
}

.extras {
  display: flex;
  margin-bottom: 95px;
}
.extras__col {
  margin-right: 20px;
  flex: 1;
}
.extras__col:last-child {
  margin-right: 0;
}

.extras__best {
  text-align: center;
  color: #fff;
  background: #232323;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 39px 10%;
  font-family: var(--titleFont);
  display: block;
  text-decoration: none;
  line-height: 1;
}

.extras__col-socials {
  height: 100%;
  background: url(../img/bg/pattern.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials {
  display: flex;
}
.socials__item {
  margin-right: 50px;
}
.socials__item:last-child {
  margin-right: 0px;
}
.socials__link {
  width: 38px;
  height: 38px;
  display: block;
}

.socials__link:hover .social__icon {
  fill: var(--red);
}

.social__icon {
  width: 100%;
  height: 100%;
}

/* end footer */
