:root {
  --yellow: #ffbc2f;
  --red: #d82727;
  --black: #1b1b1b;
  --titleFont: "Yanone Kaffeesatz", sans-serif;
}

html,
body {
  height: 100%;
  background: #fcf5e6;
}
.body {
  font: 16px / 1.42em "Roboto", Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.wrapper {
  overflow: hidden;
  min-width: 1440px;
  background: url(/img/bg/hero.jpg);
}
.header {
  width: 1290px;
  height: 185px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  height: 185px;
  overflow: hidden;
}

.header__content-photo {
  width: 520px;
  position: relative;
}

.header__content-photo img {
  width: 100%;
  position: absolute;
  top: -30px;
}
.header__content-text {
  position: absolute;
  top: 10px;
}
.lined-text {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lined-text--no-indent {
  line-height: 1;
  white-space: nowrap;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}
.lined-text__word--color-yellow {
  color: var(--yellow);
}

.color--yellow {
  color: var(--yellow);
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}
.mail__content {
  background: #212121;
  color: var(--yellow);
  padding: 5px 10px;
}

/* product card */
.product__card {
  display: flex;
  background: #ffc92f;
  margin: 0 auto;
  margin-top: 85px;
  width: 1100px;
  height: 675px;
}
.product__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.products__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}
.product__info {
  background: #fcf5e6;
  margin: 10px 10px 10px 0;
  width: 550px;
}
.product__info-main {
  border-bottom: 1px solid #e0d9c8;
  font-family: var(--titleFont);
  padding-left: 30px;
}
.product__main-pretitle {
  font-style: 17px;
  color: var(--yellow);
  margin-top: 20px;
}
.product__main-title {
  line-height: 0;
  font-size: 47px;
  text-transform: uppercase;
}
.product__main-price {
  width: 95px;
  height: 45px;
  font-size: 37px;
  background-color: var(--yellow);
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}
/* start product__info-structure */
.product__info-structure {
  margin-top: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #e0d9c8;
}
.product__structure-item {
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.product__structure-item:last-child {
  margin-bottom: 20px;
}
/* end product__info-structure */
/* start product__info-sizes */
.product__sizes-size {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0 30px;
}
.product__size-item {
  border: 1px solid #e0d9c8;
  width: 50px;
  height: 50px;
  text-align: center;

  margin-right: 10px;
}
.product__size-item:last-child {
  margin-right: 0;
}
.product__item-text {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.product__size-item--active {
  background-color: var(--yellow);
  border: none;
}
/* end product__info-sizes */
/*start product__colors */
.product__color {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product__color-item {
  width: 20px;
  height: 20px;
}

.product__item--black {
  border: 2px solid #e0d9c8;
  background-color: #2f2c25;
  border-radius: 100px;
}
.product__item--white {
  border: 2px solid #e0d9c8;
  background-color: #fcf5e6;
  border-radius: 100px;
}
.product__item--green {
  border: 2px solid #e0d9c8;
  background-color: #529029;
  border-radius: 100px;
}
.product__item--blue {
  border: 2px solid #e0d9c8;
  background-color: #39498d;
  border-radius: 100px;
}
.product__item--red {
  border: 2px solid #e0d9c8;
  background-color: #d82727;
  border-radius: 100px;
}
.product__color-item--active {
  border: 2px solid #ffc92f;
  border-radius: 100px;
}
.product__color-item:hover {
  border: 2px solid #ffc92f;
  border-radius: 100px;
}
.product__info-btn {
  padding-left: 30px;
  margin-bottom: 15px;
}

.btn {
  text-transform: uppercase;
  font-family: var(--titleFont);
  font-size: 24px;
  padding: 15px 70px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  background: var(--red);
  color: #fff;
}

/*end product__colors */

/* product card */
